nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #C70101;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: 30px;
    padding-right: 30px;
    gap: 500px;

}

ul{ list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

a {

    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.imagem img{
    width: 100px;
    margin-top: 10px;
}